<%= render "layouts/navbar", page: "Blog" %>

<div class='container'>
    <div class="blog-body">
      <script async src="https://static.medium.com/embed.js"></script><a class="m-collection" data-width="100%" href="https://medium.com/she-s-coding">She’s Coding</a>


    </div>


</div>

<%= render :partial => "layouts/footer" %>