<%# render "layouts/navbar", page: "" %>

<!-- <div class="container front-page page">
    <div class="col-sm-12">
        <div class="row">
            <div class="ui-shecodes-mission text-center">
                <p>We are community driven.</p>
                <p>We educate and empower.</p>
                <p>We are closing the gender gap in tech.<p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="ui-persona-row">
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_she.png", class: "persona-img"), "resources/tags/women" %>
<!--                 </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_company.png", class: "persona-img"), "resources/tags/companies" %>
<!--                 </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_supporter.png", class: "persona-img"), "resources/tags/supporters" %>
<!--                 </div>
            </div>
        </div>
    </div>
</div>
 -->
<div class="template"> <!-- To be removed when styles are in template -->
  <div class="featured-list">
      <h3>Latest:</h3>
      <ul>
          <li><a href="">How Our Engineering Environments are Killing Diversity</a> in <a href="">Women Blogs</a></li>
          <li><a href="">Lady Loves Code</a> in <a href="">Communities</a></li>
          <li><a href="">Everybody Code Now!</a> in <a href="">Events</a></li>
          <li><a href="">Decoded - Demistifying the Digital World</a> in <a href="">Leadership</a></li>
      </ul>
  </div>
</div>
