<%= render "layouts/navbar", page: "" %>

<main class="top-right-sidebar">
  <div class="sidebar">
    <section class="site-section">
      <h2>Purpose</h2>
      <p>She's Coding is a nonprofit organization with the main goal to help close the gender gap in tech via:</p>
      <ol class="sidebar-list">
        <li>This open-source website that educates women, allies and companies about the gender gap, developed in mentorship-based volunteer groups.</li>
        <li>A mentorship program, as well as an offline and online safe community for women in tech.</li>
        <li>Supporting women in their tech industry job searches via events, collaborations, and a yearly <a href="http://techwomenrising.org" target="_blank">conference</a> with career fair and workshops.</li>
      </ol>
    </section>

    <section class="site-section">
      <h2>What We're Working&nbsp;On</h2>
      <ul class="sidebar-list">
        <li>Launching our <a href="https://www.eventbrite.com/e/shes-coding-summer-code-a-thon-connect-collaborate-code-women-only-tickets-47359093323" target="_blank">Seattle Summer Code-a-thon</a>, which runs from July to September 2018.</li>
        <li>Launching a new <a href="https://www.meetup.com/shescoding-eastside/" target="_blank">Meetup</a> on Seattle's Eastside.</li>
        <li>Developing new features for this website, keep a lookout for changes such as an events page, new resources, and others.</li>
      </ul>
    </section>
  </div>

  <div class="primary">
    <section class="site-section community">
      <h2>Community</h2>
      <p>She's Coding is a supportive, safe place for anyone identifying as a woman or non-binary person in tech. Our <a href="https://shescoding.typeform.com/to/fcSCQs" target="_blank">online community</a> consists of members from all over the world. We have in-person events in several cities - please <a href="connect" target="_blank">contact us</a> if you want to start a She's Coding group in your city.</p>
      <p>We currently run monthly meetups with networking and talks by our community members; quarterly, two-month long code-a-thons; weekly technical interview preparation meetups; as well as mock interview events with partnering companies.</p>
      <p><a href="https://shescoding.typeform.com/to/fcSCQs" target="_blank">Join our Slack group</a> to keep in touch with the community and stay on top of events, announcements, and more!</p>
      <!-- Button to be added once we have a community page on the site.-->
      <!--<a class="cta" href="#">Community</a>-->

      <h3>Groups:</h3>
      <ul class="featured-list">
        <li><a href="https://www.meetup.com/shescoding-seattle/">Seattle Meetup</a></li>
        <li><a href="https://www.meetup.com/shescoding-dallas/">Dallas Meetup</a></li>
        <li><a href="https://www.meetup.com/shescoding-eastside/">Redmond/Bellevue Meetup</a></li>
      </ul>
    </section>

    <section class="site-section resources">
      <h2>Resources</h2>
      <p>Find educational and informational content aimed toward women in tech (or those interested in tech), our allies, and companies looking to learn more about diversity and inclusion.</p>
      <a class="cta" href="/resources">Resources</a>

      <!-- We will add resources here later.-->
      <!--
      <h3>Latest in Resources:</h3>
      <ul class="featured-list">
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
      </ul>
      -->
    </section>

    <section class="site-section mentorship">
      <h2>Mentorship</h2>
      <p>We are super thrilled about the launch of the She's Coding Mentorship Program. For a while now we thought about how to best share this network of amazing technical women, minorities and allies that we are building. This mentorship program is our first attempt into a direction of direct enablement and empowerment through matching based on their career goals, their background, their interests and their expertise.</p>
      <a class="cta" href="/mentorship">Join Us</a>
    </section>

    <section class="as-seen-on">
      <div class="description">
        <h2>As Seen On <cite>"CODE: Debugging the Gender Gap"</cite></h2>
        <p>CODE documentary exposes the dearth of American female and minority software engineers and explores the reasons for this gender gap. CODE raises the question: what would society gain from having more women and minorities code?</p>
        <a href="https://www.codedoc.co/" target="_blank">View the documentary</a>
      </div>
      <div class="iframe-container">
        <iframe src="https://player.vimeo.com/video/136884902" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section>
  </div>
</main>
