<%= render "layouts/navbar", page: "" %>

<main class="top-right-sidebar">
  <div class="sidebar">
    <section>
      <h2>Purpose</h2>
      <p>Here's the paragraph for the purpose section.</p>
    </section>

    <section>
      <h2>What We're Working On</h2>
      <ul>
        <li>Thing one</li>
        <li>Thing two</li>
        <li>Thing three</li>
      </ul>
    </section>
  </div>

  <div class="primary">
    <section class="site-section resources">
      <h2>Resources</h2>
      <p>Here's the paragraph for the resources section.</p>
      <a href="#">Join Us</a>
    </section>

    <section class="site-section community">
      <h2>Community</h2>
      <p>Here's the paragraph for the community section.</p>
      <a href="#">Community</a>
    </section>

    <section class="site-section mentorship">
      <h2>Mentorship</h2>
      <p>Here's the paragraph for the mentorship section.</p>
      <a href="#">Mentorship</a>
    </section>

    <section class="as-seen-on">
      <h2>As Seen On <cite>CODE: Debugging the Gender Gap</cite></h2>
      <p>CODE documentary exposes the dearth of American female and minority software engineers and explores the reasons for this gender gap. CODE raises the question: what would society gain from having more women and minorities code?</p>
      <a href="https://www.codedoc.co/">View the Documentary</a>
      <a href="https://vimeo.com/136884902">
        <img src="" alt="Watch the Video" title="Watch the Video">
      </a>
    </section>
  </div>
</main>



<!-- <div class="container front-page page">
    <div class="col-sm-12">
        <div class="row">
            <div class="ui-shecodes-mission text-center">
                <p>We are community driven.</p>
                <p>We educate and empower.</p>
                <p>We are closing the gender gap in tech.<p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="ui-persona-row">
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_she.png", class: "persona-img"), "resources/tags/women" %>
<!--                 </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_company.png", class: "persona-img"), "resources/tags/companies" %>
<!--                 </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'> -->
                    <%# link_to image_tag("static_pages/front_page_supporter.png", class: "persona-img"), "resources/tags/supporters" %>
<!--                 </div>
            </div>
        </div>
    </div>
</div>
 -->
