<%= render "layouts/navbar", page: "" %>

<main class="top-right-sidebar">
  <div class="sidebar">
    <section class="site-section">
      <h2>Purpose</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </section>

    <section class="site-section">
      <h2>What We're Working&nbsp;On</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Aenean commodo ligula eget dolor.</li>
        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
        <li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </li>
      </ul>
    </section>
  </div>

  <div class="primary">
    <section class="site-section resources">
      <h2>Resources</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <a class="cta" href="/resources">Resources</a>

      <h3>Latest in Resources:</h3>
      <ul class="featured-list">
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
      </ul>
    </section>

    <section class="site-section community">
      <h2>Community</h2>
      <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
      <a class="cta" href="#">Community</a>

      <h3>Latest in Community:</h3>
      <ul class="featured-list">
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
      </ul>
    </section>

    <section class="site-section mentorship">
      <h2>Mentorship</h2>
      <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
      <a class="cta" href="/mentorship">Join Us</a>

      <h3>Latest in Mentorship:</h3>
      <ul class="featured-list">
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
        <li><a href="#">link to page</a> in <a href="#">category page</a></li>
      </ul>
    </section>

    <section class="as-seen-on">
      <div class="description">
        <h2>As Seen On <cite>"CODE: Debugging the Gender Gap"</cite></h2>
        <p>CODE documentary exposes the dearth of American female and minority software engineers and explores the reasons for this gender gap. CODE raises the question: what would society gain from having more women and minorities code?</p>
        <a href="https://www.codedoc.co/">View the documentary</a>
      </div>
      <div class="iframe-container">
        <iframe src="https://player.vimeo.com/video/136884902" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section>
  </div>
</main>
