<%= render "layouts/navbar", page: "Mentorship" %>

<div class='container page'>

  <div class='mentorship-section-title'>
    She's Coding Mentorship Program
  </div>
  <div class='mentorship-body'>
    
  </div>
</div>


<%= render :partial => "layouts/footer" %>
