<%= render "layouts/navbar", page: "Mentorship" %>

<div class='container page'>

  <div class='mentorship-section-title'>
    She's Coding Mentorship Program
  </div>

  <div class='mentorship-body'>
    <p>
      You want to advance your career while meeting extraordinary, inspiring people? Get advice and help
      on how to succeed in the fast-paced tech environments? You want to help close the gender gap
      by encouraging and helping women and minorities to get into or stay in tech? You want to help
      shape the next generation of bright young professionals in this industry?
    </p>

    <div class='mentorship-section-title'>
      Launched!
    </div>

    <p>
      We are super thrilled about the launch of the She's Coding Mentorship Program. For a while
      now we thought about how to best share this network of amazing technical women, minorities and
      allies that we are building. This mentorship program is our first attempt into a direction of
      direct enablement and empowerment through matching based on their career goals, their background,
      their interests and their expertise.
    </p>
    <p>
      Although our mentorship program primarily targets individuals identifying as female, and other
      minorities in tech, we are open to applicants from all walks of life and more than welcome a
      diverse group! We believe that everyone has the potential to become a mentor to another person,
      with valuable knowledge and experience to share. Please consider becoming a mentor and help other
      motivated, bright people reach their goals.
    </p>
    <p>
      We are looking forward to finding extraordinary people to match you up with, but please keep in
      mind that the program is in an early stage, and that we cannot promise a match within any
      specific time frame. 
    </p>
  </div>
  <div class='mentorship-section-title'>
    <p>
      <%= link_to "Sign Up Now", "http://www.instant.ly/s/RDciy", target: "_blank" %>
    </p>
  </div>
</div>


<%= render :partial => "layouts/footer" %>
