<div class="contact-section">
    <div class="container">
        <div class="contact-section-title">
          <h2>Connect with us</h2>
          <div class="contact-section-body">
            <p>She’s Coding is meant to serve as the destination for anyone who wants to learn more about the gender gap problem in computer science and become part of the solution. Whether you’re a woman currently working in tech, a girl interested in learning to code, a male ally for women in computer science, or a company trying to find ways to increase diversity, you’ve come to the right place!</p>
          </div><!-- /contact-section-body -->
        </div><!-- /contact-section-title -->
    </div><!-- /container -->
</div><!-- /contact-section -->
