<%= render "layouts/navbar", page: "Contact" %>

<div class="page">
    <%= image_tag("contact.png") %>
</div>

<div class="contact-section page">
    <div class="container">
        <div class="contact-section-title">
          <h2>We would love to hear from you</h2>
          <br>
          <div class="contact-section-body">
            <p>
            	Whether you would like to contribute your skills and time to the development of She’s Coding, give us your feedback on the project, or tell us about an amazing resource we should include on the site, don’t hesitate to get in touch!			
            </p>
            <br>
            <p>Contact us via email: <%= mail_to 'nathalie@shescoding.org', " She's Coding" %></p>
          </div>
        </div>
    </div>
</div>

<%= render :partial => "layouts/footer" %>
