<%= render "layouts/navbar", page: "About" %>

<div class='container'>
  <div class= 'about-nav'>
    <div class='about-header-image'>
      <!-- to be given an image later  -->
    </div>
    <%= link_to "About", "/about" %>
    <%= link_to "How", "/how", class: "active" %>
  </div>

  <div class='about-body'>
    <h2>How can you become involved?</h2>
    <p>
      Links to Github, Trello, Google Group and Slack. And our contact page.
    </p>
  </div>
</div>
