<%= render "layouts/navbar", page: "" %>

<div class="container front-page">
    <div class="col-sm-12">
        <div class="row">
            <div class="ui-shecodes-mission text-center">
                <p>We are community driven.</p>
                <p>We educate and empower.</p>
                <p>We are closing the gender gap in tech.<p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2 class="text-center"><strong>She's Coding @ General Assembly - April 14, 2015</strong></h2>
            <h2 class="text-center">Open Google Doc with our <%= link_to "Resources", "https://docs.google.com/spreadsheets/d/1y2YblhDMQ75T4XeqE12-j7fcqwyQzPrAAYzYBz92wfg/edit" %></h2>
            <h2 class="text-center">Open Google Doc with our <%= link_to "Personas & Action items", "https://docs.google.com/document/d/1fFWBBOrw39wBuREFcFRrCmckKyOAURuuvVvWuAUK42o/edit" %></h2>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="ui-persona-row">
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box ui-rectangle-woman'>
                <div class='ui-rectangle-content'>
                    <p>I am a</p>
                    <p class="ui-persona">woman.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box ui-rectangle-supporter'>
                <div class='ui-rectangle-content'>
                    <p>I am a</p>
                    <p class="ui-persona">supporter.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box ui-rectangle-company'>
                <div class='ui-rectangle-content'>
                    <p>I am a </p>
                    <p class="ui-persona">company.</p>
                </div>
            </div>
        </div>
    </div>
</div>
