<div class="logo">
  <%= image_tag "logo_png.png" %>
</div>

<div class="ui-shecodes-mission text-center">
    <p>We are community driven.</p>
    <p>We educate and empower.</p>
    <p>We are closing the gender gap in tech.<p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class='rectangle-box rectangle-1'>
        <div class='rectangle-content'><div><span>I am a <strong>woman</strong>.</span></div></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class='rectangle-box rectangle-2'>
        <div class='rectangle-content'><div><span>I am a <strong>supporter</strong>.</span></div></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class='rectangle-box rectangle-3'>
        <div class='rectangle-content'><div><span>I am a <strong>company</strong>.</span></div></div>
      </div>
    </div>
  </div>
</div>
