<%= render "layouts/navbar", page: "Team" %>

<div class="page">
    <%= image_tag("team.png", class: "team-page-image") %>
</div>

<div class="team-section">
    <div class="container">
        <div class="team-section-title">Team</div>
        <div class="row">
             <div class="team-list">

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle green" src="http://placekitten.com/g/150/150">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /team-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /team-section -->

<div class="advisor-section">
    <div class="advisor-section-title">Advisors</div>
    <div class="container">
        <div class="row">
            <div class="advisor-list">

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle white" src="http://placekitten.com/g/150/150">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Nathalie Steinmetz</div>
                            <div class="advisor-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle white" src="http://placekitten.com/g/150/150">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Nathalie Steinmetz</div>
                            <div class="advisor-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle white" src="http://placekitten.com/g/150/150">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Nathalie Steinmetz</div>
                            <div class="advisor-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle white" src="http://placekitten.com/g/150/150">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Nathalie Steinmetz</div>
                            <div class="advisor-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <img class="circle white" src="http://placekitten.com/g/150/150">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Nathalie Steinmetz</div>
                            <div class="advisor-title">Developer, JOLT Labs</div>
                            <div class="tooltip-description">
                                It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /advisor-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /advisor-section -->

<div class="partner-section">
    <div class="partner-section-title">Partners</div>
    <div class="container">
        <div class="partner row">
            <div class="col-md-6">
                <img class="logo" src="http://placekitten.com/g/400/200">
            </div>
            <div class="col-md-6">
                <img class="logo" src="http://placekitten.com/g/400/200">
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div>

<%= render :partial => "layouts/footer" %>
