<%= render "layouts/navbar", page: "Team" %>

<div class="team-page-image-section">
    <img class="team-page-image" src="http://placekitten.com/1400/300">
</div><!-- /team-page-image-section -->

<div class="team-section">
    <div class="container">
        <div class="team-section-title"><h2>Team</h2></div>
        <div class="row">
             <div class="team-list">

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="team-member tooltips col-sm-6">
                    <img class="circle green" src="http://placekitten.com/g/150/150">
                    <div class="team-member-name">Nathalie Steinmetz</div>
                    <div class="team-member-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

            </div><!-- /team-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /team-section -->

<div class="advisor-section">
    <div class="advisor-section-title"><h2>Advisors</h2></div>
    <div class="container">
        <div class="row">
            <div class="advisor-list">

                <div class="advisor tooltips col-md-3 col-sm-6">
                    <img class="circle white" src="http://placekitten.com/g/150/150">
                    <div class="advisor-name">Nathalie Steinmetz</div>
                    <div class="advisor-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="advisor tooltips col-md-3 col-sm-6">
                    <img class="circle white" src="http://placekitten.com/g/150/150">
                    <div class="advisor-name">Nathalie Steinmetz</div>
                    <div class="advisor-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="advisor tooltips col-md-3 col-sm-6">
                    <img class="circle white" src="http://placekitten.com/g/150/150">
                    <div class="advisor-name">Nathalie Steinmetz</div>
                    <div class="advisor-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

                <div class="advisor tooltips col-md-3 col-sm-6">
                    <img class="circle white" src="http://placekitten.com/g/150/150">
                    <div class="advisor-name">Nathalie Steinmetz</div>
                    <div class="advisor-title">Developer, JOLT Labs</div>
                    <div class="the-tooltip">
                        <div class="advisor-name">Nathalie Steinmetz</div>
                        <div class="advisor-title">Developer, JOLT Labs</div>
                        <div class="tooltip-description">
                            It's been so long so long so long so long. America's tortured brow. Screaming let me out. Gets me higher. But her friend is nowhere to be. On what to say to people when they pick on you. And these children that you spit on. People on streets.
                        </div>
                    </div>
                </div>

            </div><!-- /advisor-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /advisor-section -->

<div class="partner-section">
    <div class="partner-section-title"><h2>Partners</h2></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="logo" src="http://placekitten.com/g/400/200">
            </div>
            <div class="col-md-6">
                <img class="logo" src="http://placekitten.com/g/400/200">
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div>
