<%= render "layouts/navbar", page: "Resources" %>

<div class="container">

  <h1 class="ui-shescoding-crud">New resource</h1>

  <%= render 'form' %>

  <br>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= link_to 'Back', resources_path, :class => "resource-back" %>
    </div>
  </div>

</div>

<%= render :partial => "layouts/footer" %>
