<%= render "layouts/navbar", page: "Personas" %>

<body class="ui-wizard-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 ui-wizard-question1">
                <p>I am a woman who wants to</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">learn how to code</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">mentor other women in tech</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">find support in my community</a></li>
                    </ul>
                </div>
            <div class="ui-wizard-question2">
                <p>I want to do this by</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">finding a mentor</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">taking a class</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">finding support in my community</a></li>
                    </ul>
                </div>
              </div>
              <div class="ui-wizard-question3">
                <p>I'm the third question not yet named</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">could I be wonder woman</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">could I be hedy lamarr</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">could I be ada lovelace</a></li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
</body>
