<body class="ui-supporter-wizard">

  <%= render "layouts/navbar", page: "" %>

  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-1">
              <p class="ui-persona-phrase">I am a supporter who wants to
                  <select class="selectpicker ui-supporter-select">
                      <option></option>
                      <% @personas.each do |persona| %>
                          <option class="ui-supporter-options"><%= persona.questions %></option>
                      <% end %>
                  </select>
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-sm-offset-1">
              <p class="ui-persona-phrase">I want to do this by
                  <select class="selectpicker ui-supporter-select">
                      <option></option>
                      <% @personas.each do |persona| %>
                          <option class="ui-supporter-options"><%= persona.questions %></option>
                      <% end %>
                  </select>
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-sm-offset-1">
              <p class="ui-persona-phrase">I am a supporter who
                  <select class="selectpicker ui-supporter-select">
                      <option></option>
                      <% @personas.each do |persona| %>
                          <option class="ui-supporter-options"><%= persona.questions %></option>
                      <% end %>
                  </select>
              </p>
          </div>
      </div>
  </div>
</body>
