<body class="ui-supporter-wizard">

  <%= render "layouts/navbar", page: "" %>

  <div class="container">
      <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
              <p class="ui-persona-phrase">I am a supporter who wants to<p>
          </div>
          <div class="col-sm-7 ui-supporter-dropdown-menu">
              <div class="dropdown ui-supporter-select">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                      <% @personas.each do |persona| %>
                          <li class="ui-supporter-options"><%= persona.questions %></li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row ui-supporter-question2">
          <div class="col-sm-4 col-sm-offset-1">
              <p class="ui-persona-phrase">I want to do this by</p>
          </div>
          <div class="col-sm-7 ui-supporter-dropdown-menu">
              <div class="dropdown ui-supporter-select">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                      <% @personas.each do |persona| %>
                          <li class="ui-supporter-options2"><%= persona.questions %></li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row ui-supporter-question3">
          <div class="col-sm-4 col-sm-offset-1">
              <p class="ui-persona-phrase">I am a supporter who</p>
          </div>
          <div class="col-sm-7 ui-supporter-dropdown-menu">
              <div class="dropdown ui-supporter-select">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                      <% @personas.each do |persona| %>
                          <li class="ui-supporter-options3"><%= persona.questions %></li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</body>
