<body class="ui-woman-wizard">

<%= render "layouts/navbar", page: "" %>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <p class="ui-persona-phrase">I am a woman who wants to
                    <select class="selectpicker ui-woman-select">
                        <option></option>
                        <% @personas.each do |persona| %>
                            <option class="ui-woman-options"><%= persona.questions %></option>
                        <% end %>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <p class="ui-persona-phrase">I want to do this by
                    <select class="selectpicker ui-woman-select">
                        <option></option>
                        <% @personas.each do |persona| %>
                            <option class="ui-woman-options"><%= persona.questions %></option>
                        <% end %>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <p class="ui-persona-phrase">I am a woman who
                    <select class="selectpicker ui-woman-select">
                        <option></option>
                        <% @personas.each do |persona| %>
                            <option class="ui-woman-options"><%= persona.questions %></option>
                        <% end %>
                    </select>
                </p>
            </div>
        </div>
    </div>

</body>
