@mixin arrow() {
  position: relative;

  &::after {
    content: '>';
    font-size: 3.2rem;
    position: absolute;
    top: calc(50% - 2.45rem); //change the rem value when we know the height
    right: px-to-rem(15px);
    color: white;
  }
}
