@mixin arrow() {
  position: relative;

  &::after { //the head of the arrow
    content: '>';
    font-size: 4.5rem;
    position: absolute;
    top: calc(50% - 3.25rem); //change the rem value when we know the height
    right: 1.75rem;
    color: #333333;
  }
}
