//
// This file contains shared SASS variables that can be pulled in from
// different SASS files.
//

//
// Bootstrap variables
//
$navbar-height: 70px;
$brand-height-small: 25px;
$vpad: ($navbar-height - $brand-height-small) / 2;