// This file contains shared SASS variables that can be pulled in from
// different SASS files.

$base-font-size: 10px;
$navbar-height: 70px;
$brand-height-small: 25px;
$vpad: ($navbar-height - $brand-height-small) / 2;

//colors of the site
$green: #83c057; /* green background */
$black: #1E2028;
$yellow: #FBCC3B;
$grey: #333333;
//potentially not used
$light_grey: #F2F2F2;
$dark_grey: #CCCCCC;
$tag_grey: #808080;
$red: #DB2C38;
$blue: #00A0BE;