//
// This file contains shared SASS variables that can be pulled in from
// different SASS files.
//

//
// Bootstrap variables
//
$navbar-height: 70px;

// Media Query Min-Width
$width-md: 38.75em; // ~620px
$width-lg: 64em; // ~1024px
