/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Include this here so the bootstrap variables that it contains are set before
// we include bootstrap.
@import "./variables";
@import "bootstrap-sprockets";
@import "bootstrap";

.page {
  padding-top: 70px;
}

a:link {
	color: white;
}  

a {
	color: black;
}

a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.ui-shescoding-crud {
  font-family: ArcherBold;
  padding-top: 75px;
  padding-bottom: 30px;
  padding-left: 15px;
}

#notice {
  font-size: 30px;
  color: green;
}

.btn {
  font-family: ArcherBold;
}

strong {
  font-family: ArcherBold;
}

body {
  font-family: ArcherLight;
}

img {
  max-width: 100%;
}
