// connect page
@import "./_variables";

.connect-section-title {
    text-align: center;
    font-size: 36px;
}

.connect-section-body {
    font-size: 18px;
    padding-top: 30px;
}

.connect-button{
  font-family: ArcherBook;

}

p > a:link {
	color: $green;
}

p > a:hover {
  color: $green;
}
