// connect page
@import "./_variables";

.connect-section-body {
    font-size: 18px;
}

.connect-button{
  font-family: ArcherBook;
}

p > a:link {
	color: $green;
}

p > a:hover {
  color: $green;
}
