// contact page

$black: #1E2028;
$red: #DB2C38;
$green: #83C057;

.contact-section-title {
    padding: 100px 0;
    text-align: center;
    font-size: 33px;
    font-family: ArcherBold;
}

.contact-section-body {
    text-align: left;
    font-size: 26px;
    font-family: ArcherLight;
}

.contact-button{
    font-family: ArcherBook;

}

.hidden { display: none; }

/*flash*/

.alert-error {
    background-color: white;
    border-color: $red;
    color: $red;
    text-align: left;
}

.alert-alert {
    background-color: white;
    border-color: $red;
    color: $red;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8; /* lt green bkgd */
    border-color: $green;
    color: $green;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8; /* lt green bkgd */
    border-color: $green;
    color: $green;
    text-align: left;
}

.contact-form {
    color: $green;
    text-align: left;
    vertical-align: center;
}

.textareastyle {
    size: 30x10;
    border: solid $green 1px;
    font-family: ArcherLight;
    color: #c4c4c4;  /* grey text */
    text-align: left;
    outline: none;
}

.btn-contact {
    width: 120px;
    height: 44px;
}
