// contact page
$black: #1E2028;
$green: #83C057;

.contact-section-title {
    padding: 100px 0;
    text-align: center;
    font-size: 33px;
    font-family: ArcherBold;
}

.contact-section-body {
    text-align: left;
    font-size: 26px;
    font-family: ArcherLight;
}

.contact-button{
  font-family: ArcherBook;

}

p > a:link {
	color: black;
}
