// contact page
$black: #1E2028;
$green: #83C057;

.contact-section-title {
    text-align: center;
    font-size: 36px;
}

.contact-section-body {
    font-size: 18px;
    padding-top: 30px;
}

.contact-button{
  font-family: ArcherBook;

}

p > a:link {
	color: $green;
}

p > a:hover {
  color: $green;
}

.page {
	width: 100%;
}
