// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guide-back {
  padding-left: 15px;
}

.ui-guide-row{
  border-bottom: #CCCCCC 1px solid;
  h3{
    padding-left: 0px;
  }
  img{
    width: 10%;
    padding-top: 25px;
  }
}

.ui-guide-intro{
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.ui-guide-description{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: 'ArcherLight';
}
