//
// HOW PAGE
//

$green: #83C057;

.how-section-title {
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.how-body {
  font-size: 18px;
}

.how-nav{
  font-family: 'ArcherBook';
  font-size: 18px;
  text-align: center;
  word-spacing: 10px;
  padding-top: 50px;
  a, a:link, a:hover {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  .active {
    text-decoration: underline;
  }
}

.page {
  width: 100%;
}

p > a {
  color: $green;
}

p > a:hover {
  color: $green;
}

p > a:focus {
  color: $green;
}
.connect {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}
.connect_icons {
  width: 80%;
  list-style: none;
  display: inline;
  padding: 0;
}

.connect_icons > li {
   display: inline;
}

.connect img {
  width: 11%;
  padding: 5px 25px;
}

// a.tooltips {
//   position: relative;
//   display: inline;
// }
// a.tooltips span {
//   position: absolute;
//   width:140px;
//   color: #FFFFFF;
//   background: #000000;
//   height: 30px;
//   line-height: 30px;
//   text-align: center;
//   visibility: hidden;
//   border-radius: 6px;
// }
// a.tooltips span:after {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -8px;
//   width: 0; height: 0;
//   border-top: 8px solid #000000;
//   border-right: 8px solid transparent;
//   border-left: 8px solid transparent;
// }
// a:hover.tooltips span {
//   visibility: visible;
//   opacity: 0.8;
//   bottom: 30px;
//   left: 50%;
//   margin-left: -76px;
//   z-index: 999;
// }
