#header{

}

#footer {
  margin-top: 70px;
  padding: 25px;
  font-size: 18px;
  font-family: ArcherLight;
  color: #FFFFFF;     /* white text */
  background: #1E2028; /* black background */

}

.ui-ul {
	margin-bottom: 0px;
}

