#header{

}

#footer {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 18px;
  font-family: ArcherLight;
  color: #FFFFFF;     /* white text */
  background: #1E2028; /* black background */
}

.ui-ul {
	margin-bottom: 0px;
}

