@import "./_variables";

#footer {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 18px;
  font-family: ArcherLight;
  color: white;
  background: $green;
  bottom: 0;
  position: absolute;
  width: 100%;

  a, li {
    color: white;
  }

  .ui-ul {
    margin-bottom: 0px;
  }

  .code-logo {
    margin-right: 15px;
  }

  @media (min-width: 768px) {
    .pull-right-up-xs {
        float: right;
    }
  }
}

.no-margin-top {
  margin-top: 0 !important;
}