@import "./variables";

.ui-shescoding-nav.navbar {
  background: black;
  font-family: 'ArcherLight';

  .navbar-nav > li {
    color: white;
    font-size: 14px;
    padding-right: 20px;
    text-transform: uppercase;
    padding-top: 25px;
    letter-spacing: 1px;
  }

  .navbar-brand {
    $brand-height: 32px;
    $vpad: ($navbar-height - $brand-height) / 2;

    padding: floor($vpad) 20px ceil($vpad) 20px;
    height: $navbar-height;

    & > img {
      height: $brand-height;
    }
  }

  .navbar-collapse {
    border-top: 0;
  }

  @media (min-width: 768px) and (max-width: 991px){
    .navbar-nav {
      li {
        font-size: 12px;
      }
    }

    .navbar-brand {
      padding: floor($vpad) 10px ceil($vpad);

      & {
        img {
          height: $brand-height-small;
        }
      }
    }
  }
}

