.ui-woman-wizard{
  .ui-shescoding-nav, #footer{
    background: #DB2C38;
  }
}

.ui-supporter-wizard{
  .ui-shescoding-nav, #footer{
    background: #83C057;
  }
}

.ui-company-wizard{
  .ui-shescoding-nav, #footer{
    background: #00A0BE;
  }
}

.ui-wizard-question1{
  padding-top: 100px;
  display: inline-block;
}

.ui-wizard-body{
  font-size: 35px;
  display: inline-block;
}

div.ui-wizard-question2{
  display: inline-block;
}

ul.dropdown-menu > li > a{
  font-size: 20px;
  padding: 3px 20px 0px 5px;
}
