// // // Place all the styles related to the static_pages controller here.
// // // They will automatically be included in application.css.
// // // You can use Sass (SCSS) here: http://sass-lang.com/

@import "./_variables";
@import "./_functions";
@import "./_mixins";

//-------------------------------------------------------------
// Base Styles
//-------------------------------------------------------------
* {
  color: $grey;
}

h2 {
  margin: 0 0 px-to-rem(30px) 0 !important;
  font-size: px-to-rem(36px);
  text-align: center;
}

a, a:link {
  color: $green;
}

ul {
  padding-left: 1.438rem;
  
  li {
    text-align: left;
  }
}

ol {
  padding-left: 1.438rem;

  li {
    text-align: left;
  }
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

main {
  margin-top: 125px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-5 {
  margin-bottom: 2rem!important;
}

.mt-5 {
  margin-top: 2rem!important;
}

//-------------------------------------------------------------
// CTA Component | Homepage
//-------------------------------------------------------------
.cta {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  background-color: $green;
  border-radius: 5px;
  padding: px-to-rem(15px);
  padding-right: px-to-rem(35px);
  cursor: pointer;
  @include arrow;

  &:hover, &:focus {
    color: white;
    background-color: lighten($green, 5%);
    text-decoration: none;
  }

  &:active {
    background-color: $green;
  }
}

//-------------------------------------------------------------
// Site Section Component | Homepage
//-------------------------------------------------------------
.site-section {
  margin-bottom: px-to-rem(70px);

  p, li {
    font-size: px-to-rem(18px);
  }

  .cta {
    display: table;
    margin: px-to-rem(50px) auto;
  }

  @media (min-width: 33.75em) {
    margin-bottom: px-to-rem(90px);
  }
}

//-------------------------------------------------------------
// Featured List Component | Homepage
//-------------------------------------------------------------
.featured-list {
  margin-bottom: px-to-rem(50px);

  @media (min-width: 38.75em) {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(50% - 0.469rem);

      &:nth-of-type(odd) {
        margin-right: 0.469rem;
      }

      &:nth-of-type(even) {
        margin-left: 0.469rem;
      }
    }
  }
}

//-------------------------------------------------------------
// Force green links on ul, ol | Homepage
//-------------------------------------------------------------
.green-links {
  a, a:link {
    color: $green;

    &:hover, &:focus {
      color: $green;
      text-decoration: underline;
    }
  }
}

//-------------------------------------------------------------
// Testimonials Component | Homepage
//-------------------------------------------------------------
.testimonials {
  blockquote {
    border-left: none;
    max-width: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  p, cite {
    font-size: px-to-rem(18px);
  }

  .testimonial {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  cite {
    align-self: flex-start;
  }

  .photo {
    padding: 0 0 px-to-rem(10px) 0;
  }

  .carousel-control {
    color: $grey;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
    font-size: px-to-rem(24px);
  }

  .carousel-control.right {
    right: px-to-rem(-14px);
  }

  .carousel-control.left {
    left: px-to-rem(-14px);
  }

  .carousel-inner {
    position: relative;
  }

  @media (min-width: 33.75em) {

    .carousel-control.left, .carousel-control.right {
      font-size: px-to-rem(28px);
    }

    .carousel-control.right {
      right: px-to-rem(-26px);
    }
  
    .carousel-control.left {
      left: px-to-rem(-26px);
    }
  }

  @media(min-width: 48em) {
    .testimonial {
      flex-direction: row;
    }

    blockquote {
      max-width: 76%;
      padding: 0 px-to-rem(10px) 0 0;
    }

    .photo {
      padding: 0 px-to-rem(15px) 0 px-to-rem(10px);
    }

    .carousel-control.right {
      right: px-to-rem(-40px);
    }

    .carousel-control.left {
      left: px-to-rem(-40px);
    }
  }
}

//-------------------------------------------------------------
// As Seen On Component | Homepage
//-------------------------------------------------------------
.as-seen-on {
  .description {
    margin-bottom: px-to-rem(50px);
  }

  @media (min-width: 75em) {
    display: flex;
    margin-bottom: 0;

    h2 {
      text-align: left;
    }

    .description {
      flex-basis: 50%;
      padding-right: px-to-rem(15px);
    }
    .iframe-container {
      flex-basis: 50%;
      padding-left: px-to-rem(15px);
      padding-bottom: 29.25%;
      overflow: visible;

      iframe {
        height: 24.5rem;
      }
    }
  }
}
