// // // Place all the styles related to the static_pages controller here.
// // // They will automatically be included in application.css.
// // // You can use Sass (SCSS) here: http://sass-lang.com/

@import "./_variables";
@import "./_functions";
@import "./_mixins";

* {
  color: #333333;
}

ul {
  padding-left: 1.438rem;
  
  li {
    text-align: left;
  }
}

.cta {
  display: inline-block;
  font-size: 2rem;
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 1.75rem;
  padding-right: 5rem;
  cursor: pointer;
  @include arrow;
  margin: 0 auto;

  &:hover, &:focus {
    background-color: rgba(#333333, 0.9);
    color: #ffffff;
    text-decoration: none;

    &::after {
      color: #ffffff;
    }
  }

  &:active {
    background-color: rgba(#333333, 1);
  }
}

.top-right-sidebar { //Template
  padding: (3.125rem + 4.375rem) 0.938rem 0.938rem 0.938rem;

  a:link {
    color: #83c057;
  }

  .cta, .cta:link {
    color: #333333;

    &:hover, &:focus {
      color: #ffffff;
    }
  }

  @media (min-width: 48em) {
    display: flex;
    padding-top: 3.125rem + 8.75rem;

    .primary {
      order: 1;
      width: 66.666%;
      padding-right: 0.469rem;
    }

    .sidebar {
      order: 2;
      width: 33.333%;
      padding-left: 0.469rem;

      h2, p {
        text-align: left;
      }
    }
  }

  @media (min-width: 62em) {
    padding-top: 3.125rem + 4.375rem;
  }

  @media (min-width: 90em) {
    max-width: px-to-rem(1170px);
    margin: 0 auto;

    .primary {
      width: 75%;
    }

    .sidebar {
      width: 25%;
    }
  }
}

.site-section {
  h2 {
    font-size: px-to-rem(36px);
    margin-bottom: px-to-rem(30px);
    text-align: center;
  }

  p {
    font-size: px-to-rem(18px);
    text-align: center;
  }

  &.resources { //resources-specific styles here
    .cta {
      border-color: #fbcc3b;

      &::after {
      }
    }
  }

  &.community { //community-specific styles here
    .cta {
      //border-color: 

      &::after {
      }
    }
  }

  &.mentorship { //mentorship-specific styles here
    .cta {
      //border-color:
    }
  }
}

.featured-list {
  @media (min-width: 62em) {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(50% - 0.469rem);

      &:nth-of-type(odd) {
        margin-right: 0.469rem;
      }

      &:nth-of-type(even) {
        margin-left: 0.469rem;
      }
    }
  }
}
