// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// .front-page {
//     padding-top: 20px;
//     padding-bottom: 40px;
// }

// .ui-rectangle-box{
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     //background: #4679BD;
//     padding-right: 20px;
//     align: left;
// }

// .ui-rectangle-box:before{
//     content: "";
//     display: inline-block;
//     padding-top: 80%;
// }

// .ui-rectangle-content{
//     position:  absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
// }

// .ui-shecodes-mission{
//     font-size: 26px;
//     margin-bottom: 50px;
//     margin-top: 100px;
// }

// .ui-persona-row{
//     margin-right: -45px;
//     margin-left: -45px;
// }

// .ui-persona-col{
//     padding-right: 5px !important;
// }

// .persona-img {
//     width: 100%;
// }
//convert px value to rem value
@import "./_variables";
@import "./connect";
@function px-to-rem($px, $base:10px){
  @return ($px / $base) * 1rem;
}

/* These are meant to be base styles for links */
.template a {
  color: $green;
  &:hover {
    color: $green;  
  }
}

.featured-list {

    h3 {
        margin-bottom: px-to-rem(5px);
    }

    @media (min-width: 50em){ //~800px
        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            flex: 1 0 50%;
            padding-right: px-to-rem(18px);
        }
    }
}
