// // // Place all the styles related to the static_pages controller here.
// // // They will automatically be included in application.css.
// // // You can use Sass (SCSS) here: http://sass-lang.com/

@import "./_variables";
@import "./_functions";
@import "./_mixins";


//-------------------------------------------------------------
// Base Styles
//-------------------------------------------------------------
* {
  color: #333333;
}

h2 {
  margin-top: 0 !important;
}

ul {
  padding-left: 1.438rem;
  
  li {
    text-align: left;
  }
}

//-------------------------------------------------------------
// CTA Component
//-------------------------------------------------------------
.cta {
  display: inline-block;
  font-size: 2rem;
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 1.75rem;
  padding-right: 5rem;
  cursor: pointer;
  @include arrow;

  &:hover, &:focus {
    background-color: rgba(#333333, 0.9);
    color: #ffffff;
    text-decoration: none;

    &::after {
      color: #ffffff;
    }
  }

  &:active {
    background-color: rgba(#333333, 1);
  }
}


//-------------------------------------------------------------
// Top Right Sidebar Template
//-------------------------------------------------------------
.top-right-sidebar {
  padding: (5rem + px-to-rem(70px)) 0.938rem 0.938rem 0.938rem;

  a:link {
    color: #83c057;
  }

  .cta, .cta:link {
    color: #333333;

    &:hover, &:focus {
      color: #ffffff;
    }
  }

  @media (min-width: 48em) {
    padding: (5rem + px-to-rem(140px)) px-to-rem(15px) 5rem px-to-rem(15px);
    max-width: px-to-rem(750px);
    margin: 0 auto;
  }

  @media (min-width: 62em) {
    display: flex;
    max-width: px-to-rem(970px);
    padding-top: 5rem + px-to-rem(70px);

    .primary {
      order: 1;
      width: 66.666%;
      padding-right: 0.469rem;
    }

    .sidebar {
      order: 2;
      width: 33.333%;
      padding-left: 0.469rem;

      h2, p {
        text-align: left;
      }
    }
  }

  @media (min-width: 75em) {
    max-width: px-to-rem(1170px);

    .primary {
      width: 75%;
    }

    .sidebar {
      width: 25%;
    }
  }
}


//-------------------------------------------------------------
// Site Section Component
//-------------------------------------------------------------
.site-section {
  margin-bottom: px-to-rem(70px);

  h2 {
    font-size: px-to-rem(36px);
    margin-bottom: px-to-rem(30px);
    text-align: center;
  }

  p {
    font-size: px-to-rem(18px);
    text-align: center;
  }

  .cta {
    display: table;
    margin: px-to-rem(50px) auto;
  }

  @media (min-width: 33.75em) {
    margin-bottom: px-to-rem(90px);
  }
}


//-------------------------------------------------------------
// Featured List Component
//-------------------------------------------------------------
.featured-list {
  margin-bottom: px-to-rem(50px);

  @media (min-width: 62em) {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(50% - 0.469rem);

      &:nth-of-type(odd) {
        margin-right: 0.469rem;
      }

      &:nth-of-type(even) {
        margin-left: 0.469rem;
      }
    }
  }
}
