//
// Team page
//

$black: #1E2028;
$red: #DB2C38;
$green: #83C057;
$blue: #00A0BE;

.team-section {
    padding: 100px 0;
    background: white;
}

.team-member {
    padding-top: 30px;
}

.circle {
    display: block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* for IE8, as far as I know */
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.green {
    border: 10px solid $green;
}

.team-member-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.team-member-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.team-section-title {
    text-align: center;
}

.advisor-section-title {
    text-align: center;
    color: white;
}

.advisor-section {
    padding: 100px 0;
    background: $green;
}

.advisor-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.advisor-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


.white {
    border: 10px solid white;
}

.partner-section {
    padding: 100px 0;
    background: white;
}

.partner-section-title {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
}

.tooltips .team-member-title {
    color: grey;
    padding-bottom: 10px;
}

.tooltips .advisor-title {
    color: grey;
    padding-bottom: 10px;
}

div.tooltips {
  position: relative;
  display: inline;
}

div.tooltips .the-tooltip {
  position: absolute;
  width: 300px;
  color: $black;
  background: white;
  border: 3px solid $green;
  padding: 20px;
  padding-top: 0;
  visibility: hidden;
  border-radius: 2px;
}

div.tooltips .the-tooltip:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -104px;
  width: 0; height: 0;
  border-bottom: 12px solid $green;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

div.tooltips .the-tooltip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -101px;
  width: 0; height: 0;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

div:hover.tooltips .the-tooltip {
  visibility: visible;
  opacity: 1;
  top: 200px;
  left: 30%;
  z-index: 999;
}

div:hover.advisor .the-tooltip {
  visibility: visible;
  opacity: 1;
  top: 175px;
  left: 30%;
  z-index: 999;
}

.team-page-image {
    width: 100%;
}
