//
// Team page
//

$black: #1E2028;
$red: #DB2C38;
$green: #83C057;
$blue: #00A0BE;
$past_cont_grey: #808080;

.team-page-section {
    padding: 30px 0;
    font-size: 18px;
}

.circle {
    display: block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* for IE8, as far as I know */
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.white-color {
    color: white;
}

.white-border {
    border: 10px solid white;
}

.green-border {
    border: 10px solid $green;
}

.green-background-section {
    background: $green;
}

.grey-background-section {
    background: $past_cont_grey;
}

.name {
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}

.member-title {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    color: grey;
}

.grey-background-section .member-title {
    color: black !important;
}

//tooltip related css is below
div.tooltips {
    position: relative;
    display: inline;
}

div.member-container {
    display: table;
    margin: auto;
}

.tooltips .member-title {
    color: grey;
    padding-bottom: 10px;
}

.tooltip-description a {
    color: $green !important;
}

div.tooltips .the-tooltip {
  position: absolute;
  width: 300px;
  color: $black;
  background: white;
  border: 3px solid $green;
  padding: 20px;
  padding-top: 0;
  visibility: hidden;
  border-radius: 2px;
}

div.advisor .the-tooltip {
    color: $black;
    background: white;
    border: 3px solid $green;
}

div.tooltips .the-tooltip:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -104px;
  width: 0; height: 0;
  border-bottom: 12px solid $green;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

div.advisor .the-tooltip:before {
    border-bottom: 12px solid $green;
}

div.tooltips .the-tooltip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -101px;
  width: 0; height: 0;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

div.advisor .the-tooltip:after {
    border-bottom: 8px solid white;
}

div:hover.tooltips .the-tooltip {
  visibility: visible;
  opacity: 1;
  top: 170px;
  left: 15%;
  z-index: 999;
}

div.tooltips .the-tooltip.mobile{
    position: relative;
    visibility: visible;
    padding: 1em;
    margin: 1em auto;
    width: 70%;
    display: block;
    opacity: 1;
    transition: opacity .3s linear;
  }

  div:hover.tooltips .the-tooltip.mobile {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .the-tooltip.mobile .name, .the-tooltip.mobile .member-title {
    display: none;
  }
