// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #1E2028;
$red: #DB2C38;
$green: #83C057;
$blue: #00A0BE;

.ui-rectangle-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #4679BD;
    padding-right: 20px;
    align: left;
}
.ui-rectangle-box:before{
    content: "";
    display: inline-block;
    padding-top: 80%;
}
.ui-rectangle-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.ui-rectangle-content{
  div {
    width: 100%;
    height: 100%;
  }
}

.ui-rectangle-content {
  font-size: 30px;
  padding-top:30%;
  p {
    vertical-align: middle;
    color: white;
    padding-left: 30%;
    margin-bottom: 0px;
    line-height: 100%;
  }
}

.ui-rectangle-woman{
    background: #DB2C38;
}

.ui-rectangle-supporter{
    background: #83C057;
}

.ui-rectangle-company{
    background: #00A0BE;
}

.ui-shecodes-mission{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.ui-persona-row{
    margin-right: -45px;
    margin-left: -45px;
}

.ui-persona-col{
    padding-right: 5px !important;
}

.ui-persona{
    font-size: 40px;
}

// team page

.team-section {
    padding: 100px 0;
    background: white;
}

.team-member {
    padding-top: 30px;
}

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* for IE8, as far as I know */
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.green {
    border: 10px solid $green;
    background-image: url(http://placekitten.com/g/150/150);
}

.team-member-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.team-member-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.team-section-title {
    text-align: center;
}

.advisor-section-title {
    text-align: center;
    color: white;
}

.advisor-section {
    padding: 100px 0;
    background: $green;
}

.advisor-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.advisor-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


.white {
    border: 10px solid white;
    background-image: url(http://placekitten.com/g/150/150);
}

.partner-section {
    padding: 100px 0;
    background: white;
}

.partner-section-title {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
}

.tooltips .team-member-title {
    color: grey;
    padding-bottom: 10px;
}

div.tooltips {
  position: relative;
  display: inline;
}

div.tooltips .the-tooltip {
  position: absolute;
  width:300px;
  color: $black;
  background: white;
  border: 3px solid $green;
  padding: 20px;
  visibility: hidden;
  border-radius: 2px;
}

div.tooltips .the-tooltip:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -104px;
  width: 0; height: 0;
  border-bottom: 12px solid $green;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

div.tooltips .the-tooltip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -101px;
  width: 0; height: 0;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

div:hover.tooltips .the-tooltip {
  visibility: visible;
  opacity: 1;
  top: 200px;
  left: 30%;
  z-index: 999;
}
