<%= render "layouts/navbar", page: "" %>

<h1 class="ui-shescoding-crud">Listing guides</h1>

<% @guides.each do |guide| %>
<div class="container">
    <div class="row ui-guide-row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3 class="ui-guide-title"><%= guide.title %></h3>
        </div>
        <div class="col-sm-6">
            <p class="ui-guide-description"><%= guide.description %></p>
        </div>
    </div>
</div>
<% end %>
