<%= render "layouts/navbar", page: "" %>

<div class="container">

  <h1 class="ui-shescoding-crud">New guide</h1>

  <%= render 'form' %>

  <br>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= link_to 'Back', guides_path, :class => "guide-back" %>
    </div>
  </div>

</div>
