<div id="footer">
  <div class="container-fluid">
    <div class="clearfix">
      <ul class="ui-ul list-inline pull-left">
        <li>&copy; 2015 JOLT Labs LLC and individual contributors
        <li> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;</li>
        <li><%= mail_to 'info@shescoding.org','info@shescoding.org' %></li>
      </ul>

      <ul class="ui-ul list-inline pull-right">
        <li><%= link_to image_tag("assests-11.png"), "https://www.facebook.com/shescoding"%></li>
        <li><%= link_to image_tag("assests-12.png"), "https://twitter.com/shescoding" %></li>
      </ul>
    </div>
  </div>
</div>
